<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href='/css/icons.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<nav class="navbar shadow-sm bg-body sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Блог</span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="./" id="homeLink">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./authors" id="authorsLink">Авторы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./communities" id="communitiesLink">Группы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="./post/create" id="createPostButton">Написать пост</a>
                </li>
            </ul>
            <div class="d-flex nav-item">
                <a class="nav-link" href="./login" id="loginLink">Вход</a>
            </div>
            <form class="d-flex" role="search">
                <div class="nav-item dropdown" style="display: none;" id="profileDropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="emailText">
                        почта@mail.ru
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./profile" id="profileLink">Профиль</a></li>
                        <li><a class="dropdown-item" href="#" id="logoutButton">Выйти</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</nav>

{{{body}}}

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-body-secondary">© 2023 — Блог</span>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/navbar.js"></script>
</body>
</html>