<div class="d-flex container justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow" style="width: 30rem;">
        <div class="card-body">
            <h2 class="card-title">Вход</h2>
            <form class="needs-validation" novalidate id="loginForm">
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Электронная почта</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="name@example.com" required>
                    <div class="invalid-feedback" id="emailError"></div>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="inputPassword" required>
                    <div class="invalid-feedback" id="passwordError"></div>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary" id="loginBtn">Войти</button>
                    <button type="button" class="btn btn-secondary" id="registerBtn" href="register.html">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>
<script src="/js/globalValidation.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>