<hr class="divider">
<div class="my-3" onclick="searchAuthor(this)" style="cursor: pointer;">
    <div class="row">
        <div class="col-auto">
            <div style="position: relative;">
                <img class="image-container" src="/image/maleAvatar.jpg" width="75" height="75" style="border-radius: 50%; position: relative;">
                <img class="gold-crown d-none" src="/image/goldCrown.png" width="50" height="50" style="position: absolute; top: -30px; left: 0px;">
                <img class="silver-crown d-none" src="/image/silverCrown.png" width="45" height="40" style="position: absolute; top: -20px; left: 15px;">
                <img class="bronze-crown d-none" src="/image/bronzeCrown.png" width="45" height="35" style="position: absolute; top: -15px; left: 25px; transform: rotate(25deg)">
            </div>
        </div>
        <div class="col mt-1">
            <div class="row">
                <div class="col-auto">
                    <h4><span class="name">AgentLost</span> <span style="font-size:18px;"><em class="text-muted create-date">Создан: 21.12.2022</em></span></h4>
                </div>
                <div class="col"></div>
                <div class="col-auto">
                    <h5><span class="badge bg-primary post-count">Постов: 6</span></h5>
                </div>
                <div class="col-auto">
                    <h5><span class="badge bg-primary like-count">Лайков: 50</span></h5>
                </div>
            </div>
            <span class="text-muted birth-date-container"><strong>Дата рождения:</strong> <span class="birth-date">15.02.2000</span></span>
        </div>
    </div>
</div>