<div class="container">
    <div class="card shadow-sm my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-auto">
                    <h1 class="card-title">DevOps</h1>
                </div>
                <div class="col"></div>
                <div class="col-auto">
                    <a class="btn btn-primary d-none btn-new-post" href="/post/create">Написать пост</a>
                    <button class="btn btn-primary btn-subscribe d-none" onclick="subscribe(this, 'subscribe', '')">Подписаться</button>
                    <button class="btn btn-danger d-none" onclick="subscribe(this, 'unsubscribe', '')">Отписаться</button>
                </div>
            </div>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                </svg>
                <span class="subscribers-count">7 подписчиков</span>
            </p>
            <p class="community-type">Тип группы: закрытая</p>
            <h3>Администраторы</h3>
            <div id="adminsContainer"></div>
        </div>
    </div>
</div>