<div class="comment-container">
    <hr class="divider-up d-none">
    <div class="text-muted comment-author">Xexi</div>
    <div>
        <span class="comment-text" style="font-size:20px;">Да здравствует пиво!</span>
        <span
                class="edited-text text-muted d-none"
                data-bs-toggle="tooltip" data-bs-title="Последний совет!"
        >(изменено)</span>
    </div>
    <div><span class="comment-time">19.12.2022 17:02</span> <a class="reply-btn" style="cursor: pointer;">Ответить</a></div>
    <div><a class="expand-btn d-none" style="cursor: pointer;">Раскрыть ответы</a></div>
    <div class="child-comments-container d-none"></div>
    <hr class="divider-down">
</div>